# RevenueCat API Keys
# Get these from https://app.revenuecat.com after creating your app
EXPO_PUBLIC_REVENUECAT_IOS_KEY=YOUR_REVENUECAT_IOS_API_KEY
EXPO_PUBLIC_REVENUECAT_ANDROID_KEY=YOUR_REVENUECAT_ANDROID_API_KEY
